// Navigation code here
.nav-container {
    width: 100%;
    background: #f4f4f4;
    height: auto;
    padding-top: 10px;
    z-index: 1;
    opacity: 0.8;

    .flex-setup(column; center; center;);

    h1 {
        font-size: 34px;
        margin-bottom: 15px;
    }

    nav {
        width: 40%;
        margin-bottom: 10px;
        .flex-setup(row; space-around; center;);

        @media @phone {
            width: 85%;
            justify-content: space-around;
        }

        a {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}